body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    text-align: center;
}

/* Header */
header {
    background: #333;
    color: white;
    padding: 20px 0;
}

nav div ul {
    color: white;
    text-decoration:initial;
    font-size: 18px;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


/* Sections */
section {
    padding: 50px 20px;
}

h2 {
    color: #333;
}

/* Projects */
.project {
    background: white;
    padding: 15px;
    margin: 10px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
}